.aboutCourse{
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    font-size: 18px;
    line-height: 30px;
}

.header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: center no-repeat;
    position: relative;
}
.header:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0 ,0 ,0, 0.5);
}

.header h1{
    position: relative;
    z-index: 2;
    color: white;
}

.tabContent{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.meetingWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.editMeeting{
    display: flex;
    flex-direction: column;
}

.editMeeting textarea{
    resize: none;
}

.teacherPannel{
    display: flex;
    flex-direction: column;
}

.about{
    font-size: 18px;
    line-height: 30px;
    max-width: 600px;
}

.warning{
    color: #ff9100;
}

.student{
    color: #4caf50;
}

.buttonJoin{
    text-align: center;
    margin-top: 20px;
}