.Homework{
    padding: 10px;
}

.iframe{
    width: 100%;
    height: 900px;
}

.Homework .task{
    flex: 1;
}

.Homework .homeworkItems{
    flex: 2;

}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.check_btn{
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
}

.check_btn:hover{
    outline: 1px solid black;
}

.text_homework{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.message{
    text-align: center;
    margin-top: 150px;
}

.check_btn_wrapper{
    margin-top: 10px;
}